/* --------------------header section----------------- */
header{
    background-color: rgba(0,0,0,0.7);
}
.inner_header{
    background-image: url(../images/hero-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
header h1{
    font-size:60px;
    position: relative;
}
header h1::after{
    content: '';
    position: absolute;
    right: 35%;
    top: 120%;
    font-size: 40px;
    animation-name: switch;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}
@keyframes switch{
    1%{
        content: 'D|';
    }
    5%{
        content: 'De|';
    }
    10%{
        content: 'Dev|';
    }
    11%{
        content: 'Deve|';
    }
    12%{
        content: 'Devel|';
    }
    14%{
        content: 'Develo|';
    }
    16%{
        content: 'Develop|';
    }
    18%{
        content: 'Develope|';
    }
    20%{
        content: 'Developer|';
    }
    22%{
        content: 'Develope|';
    }
    24%{
        content: 'Develop|';
    }
    26%{
        content: 'Develo|';
    }
    28%{
        content: 'Devel|';
    }
    30%{
        content: 'Deve|';
    }
    32%{
        content: 'Dev|';
    }
    34%{
        content: 'De|';
    }
    36%{
        content: 'D|';
    }
    38%{
        content: 'De|';
    }
    40%{
        content: 'Des|';
    }
    42%{
        content: 'Desi|';
    }
    44%{
        content: 'Desig|';
    }
    46%{
        content: 'Design|';
    }
    48%{
        content: 'Designe|';
    }
    50%{
        content: 'Designer|';
    }
    52%{
        content: 'Designe|';
    }
    54%{
        content: 'Design|';
    }
    56%{
        content: 'Desig|';
    }
    58%{
        content: 'Desi|';
    }
    60%{
        content: 'Des|';
    }
    62%{
        content: 'De|';
    }
    64%{
        content: 'De|';
    }
    66%{
        content: 'D|';
    }
}
.nav-item:hover{
    border-bottom: 1px solid white;
}
/* ------------------about section------------------ */
.person_pic img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.inner_about h2{
    position: relative;
    display: inline-block;
}
.inner_about h2::after{
    content: '';
    background-color: rgb(0, 120, 255);
    width: 80%;
    height: 3px;
    top: 120%;
    left: 0;
    position: absolute;
}
/* -----------------services section------------------ */
.service_head p{
    position: relative;
}
.service_head p::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    top: 125%;
    background-color: rgb(0, 120, 255);
    right: 48%;
}
.card:hover i{
    background-color: rgb(0, 120, 255) !important;
    border-color: rgba(0, 120, 255,0.3) !important;
}
.services .card i{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: background-color 0.5s;
}
/* ----------------stat section---------------- */
.Statistics{
    background-image: url(../images/post-3.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.inner_stat{
    background-color:rgba(0, 120, 255,0.5) ;
}
.inner_stat i{
    width: 100px;
    height: 100px;
    border: 8px solid white;
}
/* -----------------------portofolio section---------------------- */
.porofolio .port{
    width: 90%;
}
.port_head p{
    position: relative;
}
.port_head p::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    top: 125%;
    background-color: rgb(0, 120, 255);
    right: 48%;
}
.port .card{
    border: none;
}
.port .card .card-body i{
    width: 50px;
    height: 50px;
    color: rgb(0, 120, 255);
    border: 3px solid rgb(0, 120, 255);
}
.port .card img{
    transition: transform 1s;
}
.port .card:hover img{
    transform: scale(1.15);
}
/* ---------------------testimonial section-------------------------- */
#testimonial{
    background-image: url(../images/overlay-bg.jpg);
    background-size: 100% 100%;
    background-position: cover;
}
#testimonial .inner_test{
    height: 100vh;
    background-color:rgba(0, 120, 255,0.7) ;
}
#testimonial .container .carousel-inner .carousel-item img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
/* ------------------------blog section--------------------------- */
.blog_head p{
    position: relative;
}
.blog_head p::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    top: 125%;
    background-color: rgb(0, 120, 255);
    right: 48%;
}
#blog .card .card-body img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#blog .card .card-body a{
    text-decoration: none;
    color: black;
}
#blog .card_after{
    position: relative;
}
#blog .card_after::after{
    content: 'WebDesign';
    background-color: rgb(0, 120, 255);
    width: 100px;
    height: 20px;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* ------------------contact section----------------- */
#contact{
    background-image: url(../images/overlay-bg.jpg);
    background-size: 100% 100%;
    background-position: cover;
}
#contact .inner_contact{
    background-color:rgba(0, 120, 255,0.7) ;
}
#contact .send button{
    border: none;
    background-color: rgb(0, 120, 255);
}
#contact .send h2{
    position: relative;
}
#contact .send h2::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: rgb(0, 120, 255);
    bottom: -25%;
    left: 0;
}
#contact .touch h2{
    position: relative;
}
#contact .touch h2::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: rgb(0, 120, 255);
    bottom: -25%;
    left: 0;
}
#contact .touch .icons i{
    width: 40px;
    height: 40px;
    border: 3px solid rgb(0, 120, 255); 
    border-radius: 50%;
}
/* ----------------------footer------------------ */
footer{
    background-color: rgb(0, 98, 211);
    color: white;
}
/* ----------------media query-------------- */
@media all and (max-width:1200px) {
    #about .profile .data{
        display:flex;
        flex-direction:column;
    }
}